<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBFilePath" value="C:\SFA2.0\SFA_dev.db" />
		<add key="ImagePath" value="C:\SFA2.0\images\" />
		<add key="NewsFile" value="C:\Temp\News.csv" />
		<add key="UserName" value="Ramesh"/>
		<add key="Password" value="Ramesh"/>
		<add key="Role" value="usr"/>
	</appSettings>
</configuration>